<h1>Reset Password</h1>
<form action="/account/resetpassword" method="post">
    <div>
        <label for="Email">E-mail</label>
        <input type="email" name="Email">
    </div>

    <div>
        <button type="submit">Reset</button>
    </div>
</form>